/*    Base page styles    */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f8fd;
    color: #4D4D4D;
    font-size: 22px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1 {
    padding-top: 80px;
    font-size: 70px;
    font-weight: normal;
    color: black;
}

main {
    padding: 50px;
}

footer {
    margin-top: auto;
    padding: 40px 20px;
}


/*    Home/Welcome page styles    */

.welcome-container {
    width: 600px;
    background-color: white;
    border: 1px solid #011ba1;
    border-radius: 3px;
    margin: 30px auto;
    padding: 30px;
}

.welcome-container .intro {
    margin: 18px;
}

.welcome-container .intro h2 {
    font-weight: normal;
    font-size: 27px;
}

.welcome-container .intro p {
    font-weight: normal;
    font-size: 22px;
    margin: 15px 0 5px 0;
    padding: 25px 0;
}

.welcome-container .category-button {
    background-color: white;
    width: 110px;
    margin: 10px;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

#aws-button {
    border: 1px solid #FF9900;
}
#devops-button {
    border: 1px solid #008AD7;
}
#python-button {
    border: 1px solid #FFD43B;
    /*border: 1px solid #306998;*/
}
#cyber-button {
    border: 1px solid #ff5900;
}


/*    Question Card page styles    */

.question-card-container {
    height: 200px;
    width: 300px;
    background-color: white;
    border: 4px solid #FFD5AF;
    margin: 0 auto;
    padding: 20px;
}

