{% extends "base.html" %}
{% block content %}

<div class="add-question-container">
    <h2>Add new question form</h2>
    <form action="/question/add" method="POST">
        <textarea type="text" name="question" placeholder="Type your question here..." ></textarea>
        <textarea type="text" name="answer" placeholder="And answer here..." ></textarea>
        <select name="category">
            <option value="AWS">AWS</option>
            <option value="DevOps">DevOps</option>
            <option value="Python">Python</option>
            <option value="Cyber">Cyber</option>
        </select>
        <input type="submit" value="Submit" class="btn" />
    </form>
</div>

{% endblock %}