<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{  url_for('static', filename='styles.css') }}" >
    <title>Agile Ninjas' Quizlet</title>
    <!--    font   -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1><a href="/">Quizlet</a></h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <a href="/">Home Page</a>
        <a href="/question/AWS/1" >AWS</a>
        <a href="/question/DevOps/1" >DevOps</a>
        <a href="/question/Python/1" >Python</a>
        <a href="/question/Cyber/1" >Cyber</a>
        <a href="/question/view_all" >View All</a>
        <a href="/question/add" > Add Question</a>
        <p>Agile Ninjas &copy; 2023</p>
    </footer>

</body>
</html>
