{% extends "base.html" %}
{% block content %}

<div class="welcome-container">
    <div class="intro">
        <h2>Welcome to our Quizlet app, where you can effectively enhance your learning with flashcards.</h2>

        <p>Start your learning journey by selecting a category below!</p>
    </div>

    <div>
        <button id="aws-button" class="category-button">AWS</button>
        <button id="devops-button" class="category-button">DevOps</button>
        <button id="python-button" class="category-button">Python</button>
        <button id="cyber-button" class="category-button">Cyber</button>
    </div>
</div>

{% endblock %}