{% extends "base.html" %}
{% block content %}

<div class="welcome-container">
    <div class="intro">
        <h2>Welcome to our Quizlet app, where you can effectively enhance your learning with flashcards.</h2>

        <p>Start your learning journey by selecting a category below!</p>
    </div>

    <div>
        <a href="/question/aws/2" id="aws-button" class="category-button">AWS</a>
        <a href="/questions/devops/2" id="devops-button" class="category-button">DevOps</a>
        <a href="/questions/devops/2" id="python-button" class="category-button">Python</a>
        <a href="/questions/devops/2" id="cyber-button" class="category-button">Cyber</a>
    </div>
</div>

{% endblock %}