{% extends "base.html" %}
{% block content %}

<div class="welcome-container">
    <div class="intro">
        <h2>Welcome to our Quizlet app, where you can effectively enhance your learning with flashcards.</h2>

        <p>Start your learning journey by selecting a category below!</p>
    </div>

    <div>
        <a href="/question/AWS/1" id="aws-button" class="category-button">AWS</a>
        <a href="/question/DevOps/1" id="devops-button" class="category-button">DevOps</a>
        <a href="/question/Python/1" id="python-button" class="category-button">Python</a>
        <a href="/question/Cyber/1" id="cyber-button" class="category-button">Cyber</a>
    </div>
</div>

{% endblock %}