{% extends "base.html" %}
{% block content %}

<div class="question-page-grid-container">

    <a class="previous-button">Previous</a>

    <div class="question-card-container
    {{ 'orange-border' if question.get_category() == 'AWS' else
        'blue-border' if question.get_category() == 'DevOps' else
        'yellow-border' if question.get_category() == 'Python' else
        'red-border' if question.get_category() == 'Cyber' else '' }}">
        <div class="question">{{ question.get_question() }}</div>
    </div>

    <div class="category
        {{ 'orange-border' if question.get_category() == 'AWS' else
        'blue-border' if question.get_category() == 'DevOps' else
        'yellow-border' if question.get_category() == 'Python' else
        'red-border' if question.get_category() == 'Cyber' else '' }}">
        {{ question.get_category() }}
    </div>

    <div class="question-counter">{{ q_number }}/{{ q_total }}</div>

    <a href="/question/Python/1"  class="next-button">Next</a>

    <div onclick="toggleAnswer()" class="answer-card-container
        {{ 'orange-border' if question.get_category() == 'AWS' else
        'blue-border' if question.get_category() == 'DevOps' else
        'yellow-border' if question.get_category() == 'Python' else
        'red-border' if question.get_category() == 'Cyber' else '' }}">
        <div id="instruction">Click here to reveal the answer</div>
        <div id="answer">{{ question.get_answer() }}</div>
    </div>

</div>


<!-- below is a JavaScript for the answer reveal-->
<script>
    function toggleAnswer() {
        const instruction = document.getElementById("instruction");
        const answer = document.getElementById("answer");

        if (instruction.style.display === "block" || instruction.style.display === "") {
            instruction.style.display = "none";
            answer.style.display = "block";
        } else {
            instruction.style.display = "block";
            answer.style.display = "none";
        }
    }
</script>

{% endblock %}