{% extends "base.html" %}
{% block content %}

<div class="question-page-grid-container">

    <a class="previous-button">Previous</a>

    <div class="question-card-container orange-border">
        <div class="question">What is an EC2 Instance?</div>
    </div>

    <div class="category orange-border">AWS</div>

    <div class="question-counter">2/10</div>

    <a class="next-button">Next</a>

    <div class="answer-card-container orange-border" onclick="toggleAnswer()">
        <div id="instruction">Click here to reveal the answer</div>
        <div id="answer">An EC2 (Elastic Compute Cloud) instance is a virtual server in the cloud that you can use to run applications, services, and more.</div>
    </div>

</div>


<!-- below is a JavaScript for the answer reveal-->
<script>
    function toggleAnswer() {
        const instruction = document.getElementById("instruction");
        const answer = document.getElementById("answer");

        if (instruction.style.display === "block" || instruction.style.display === "") {
            instruction.style.display = "none";
            answer.style.display = "block";
        } else {
            instruction.style.display = "block";
            answer.style.display = "none";
        }
    }
</script>

{% endblock %}